

#actors{

left: 0px;
right: 0px;

}

.content h1{

margin: 0px;
padding-bottom: 15px;

}

.icon_div:hover, .icon_div_hover:hover, #main_menu_icon:hover{

background-color: pink;

}


.icon_div:hover a{

color: #4D87C7;
}


.generator_div select {

	width: 153px;
	margin: 2px;

}


#cmdi_left_side{
	
	overflow: hidden;
	padding: 30px;
	float: left;
	background-color: #CCEEDD;
	
}


#VIEW_corpus h1, #lang_search_div h1, #VIEW_elar_project h1{

	margin: 0px;

}


/*--- Resources ---*/

.resource_file_content_span {

	clear: both;
	display: block;

}

.warning_div{
	background-color: tomato;
	padding: 5px 10px;
}

#crps_div:hover #crps_filetype_select{

	display: block;
	position: absolute;
	bottom: 44px; 
	background: cornflowerblue;
	color: black;
	padding: 15px;
	cursor: default;
}

#crps_filetype_select h3{

	padding-bottom: 10px;
	color: white;
	height: auto !important;
	float: none !important;
	line-height: 1em !important;
	margin: 0px;

}

.file_entry p{
	margin: 0px;
	white-space: nowrap;
}


.file_entry_title{
	font-size: large;
	line-height: 1.0em;
	font-weight: bold;
	white-space: nowrap;
	color: #161e21;
}

.delete_resource_icon{
	width: 25px;
	height: 25px;
	cursor: pointer;
	float: right;
}

.warning_img_div{
	display: inline;
	height: 40px;
	width: 35px;
	float: left;
}

.compatibility_warning{
	display: inline;
	font-size: 0.85em;
	color: black;
}

.mf{
	
	padding: 10px;
	background-color: orange;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 158px;

}

.wr{
	
	padding: 10px;
	background-color: limegreen;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 158px;

}

.wr h3{

	font-size: 12.5pt;

}

#files{

	margin-right: 30px;
	float: left;
	width: 220px;

}

#drop_zone{

	background-color: lightsalmon;
	text-align: center;
	border-radius: 15px;
	height: 156px;
	width:220px;

}

.file_entry{

	width: 260px;
	border-radius: 10px;
	padding: 10px;
	border: 10px solid transparent;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	height: 116px;
	overflow: hidden;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}


.media_file_entry{

	background-color: orange;

}

.written_resource_file_entry{

	background-color: limegreen;

}

.invalid_file_entry{

	background-color: tomato;

}

#drop_zone h2{

	font-size: 200%;
	padding: 30px;
	margin:0px;

}

#list{

	float: left;
	position: absolute;
	left: 270px;
	right:30px;
	top:30px;

}


.warning_icon{

	width: 25px;
	height: 25px;

}

#date_status{

	font-size: x-small;

}

.date_span, .size_span{
	font-size: x-small;
	color: blue;
}

/*--- Actors ---*/

.actor_languages_entry{

	background-color: tomato;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	color: white;
	font-size: 12pt;
	margin-right: 10px;
	height: 75px;
	width: 280px;
	overflow: hidden;

}

#actor_languages_td{

	width: 350px;

}

#actor_list{

	width: 215px;
	position: fixed;
	top: 80px;
	bottom: 60px;
	overflow-x: hidden;
	overflow-y: auto;
	display: inline;
	float: left;
	margin-right: 30px;
	padding-right: 10px;
	padding-bottom: 10px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.actor_list_entry h2{

	line-height: 0em;
	white-space: nowrap;
	margin: 0.6em 0 0 0;

}

#actor_title_div{

	padding: 15px;

}

#actor_content_div{

	background-color: #AABFFF;
}

#actor_view{

	background-color: lightskyblue;
	float: left;
	left: 260px;
	position: absolute;
	right: 30px;
	border-radius: 10px;
	display: block;
	min-width: 850px;

}

.actor_list_entry{

	background: rgb(255, 139, 199);
	line-height: 0em;
	cursor: pointer;
	padding: 10px;
	height: 40px;
	width: 180px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 10px;
}

#actor_options_div{
	width: 300px;
}

#actor_form_title{

	display: inline;

}

/*--- Sessions ---*/

.bundle_header{

	padding: 15px;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.bundle_table, .actor_table{
	
	border: none;
	margin-top: 0px;
	
}

.bundle_content{
	
	background-color: #9999FF;
	display: block;
	
}

.bundle_content a{
	
	color: #1111EE;
	
}

.bundle_content a:hover{
	
color: #FFFFFF;
	
}


.mf h3, .wr h3{ 

	float: left;
	clear: left;

}

.selected_file {
	border: 10px solid;
	border-color: indigo;
}

#copy_bundles_select{

	display: none;
	bottom: 44px;
	position: absolute;
	background: cornflowerblue;
	color: black;
	padding: 15px;
	cursor: default;

}

#crps_filetype_select{

	display: none;

}

#copy_bundles_div:hover #copy_bundles_select{

	display: block;

}


.bundle_table tr td, .actor_table tr td{

border-top: none;

}

.expand_img{
	
height: 25px;
width: 25px;
margin: 0px;
margin-right: 5px;
padding: 0px;

float: right;
}


.delete_img{
	
height: 25px;
width: 25px;
margin: 0px;
margin-right: 5px;
padding: 0px;

float: right;

}

.bundle_heading{
	
display: inline;
white-space: nowrap;
	
}

.actors{

clear: both;

}

.actor_name_disp{

line-height: 16pt;


}

.actor_role_disp{

font-size: 10pt;
margin: 0px;

}




td select{

width: 150px;

}

.actors select{

width: 240px;

}



.edit_img{

width: 18px;
height: 15px;
margin-left: 3px;
cursor: pointer;

}

.delete_actor_icon{

height: 43px;
float: left;
cursor: pointer;

}

.bundle_div{

overflow: hidden;
display: block;
width: 100%;
float: left;
margin-bottom: 20px;
background-color: lightskyblue;
border-radius: 10px;

}

.bundle_project_td{
	
background-color: #EE88FF;
	
}

.bundle_content_td{
	
background-color: bisque;
	
}

.actor{
	
padding-top: 10px;
	
}

.bundle_resources_td{
	
background-color: #CCFFCC;
min-width: 173px;
width: 200px;
}

.bundle_actors_td{
	
background-color: 	#FFCCCC;
overflow: hidden;
width: 250px;
min-width: 250px;

}

.actor_in_bundle{

background: rgb(255, 139, 199);
line-height: 0em;
padding: 10px;
padding-top: 6px;
height: 27px;
width: 180px;
border-radius: 5px;
float: left;
overflow: hidden;
white-space: nowrap;
margin-bottom: 10px;
}

.actor_in_bundle_wrap{

width: 250px;

}

.delete_lang_icon{
width: 27px;
height: 27px;
cursor: pointer;
float: right;

}


/*--- Output ---*/

.output_div{

background-color: lightskyblue;
border-radius: 15px;
padding: 20px;
margin-bottom: 30px;
width: 935px;

}

.output_div h1{

padding: 0px;
margin: 0px;
padding-bottom: 25px;

}

.xml_textarea{

width: 930px;

}

.generator_div{

overflow: hidden;
display: inline;
width: 200px;
float: left;
margin-right: 20px;

}

/*--- Settings ---*/

#VIEW_settings p, #environment_settings p{

margin: 0px;

}

/*--- About ---*/


#license_info{

font-size: smaller;

}


.wizard_arrow{

float: left;

}

.wizard_icon{

height: 22px;
width: 11px;
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;

}

#logos a img{
	height: 80px;
}

.supporters{
	text-align: center;
	margin-top: 30px;
}

.supporters a img{
	height: 90px;
	margin: 0px 10px;
}

#bmbf_link{

	float: right;

}