.content h1{

margin: 0px;
padding-bottom: 15px;

}

.icon_div:hover, .icon_div_hover:hover, #main_menu_icon:hover{

background-color: pink;

}


.icon_div:hover a{

color: #4D87C7;
}


.webapp_icon{
	float: left;
	width: 30px;
	height: 25px;
	padding: 12px;
}

.module_title{

	height: 50px;
	width: 188px;
	color: black;
	font-size: 16pt;
	float: left;

}


#lang_links{
	float: right;
	margin: 0px;
	clear: both;
}


.redBox{

	background-color: tomato;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	color: white;
	font-size: 12pt;
	margin-right: 10px;
	width: 320px;
	overflow: hidden;

}


.icon{

	height: 30px;
	cursor: pointer;

}


.icon_div:hover, .icon_div_hover:hover, #main_menu_icon:hover{

background-color: pink;

}


.icon_div:hover a{

color: #4D87C7;
}



#start_profile_select{
	font-size: 16.5pt;
	height: 26px;
}


/* play button */
#link_lets_go {
	position: relative;
    top: -35px;
    right: -96px;
    height: 1.8em;
    width: 1.8em;
    webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}


#link_lets_go:hover {
   	opacity: 0.2;
	filter: alpha(opacity=30); /* for IE 8, 9 */
}


#about_img{
	width: 128px;
	height: 128px;
	border-radius: 10px;
	margin-bottom: 15px;
}

#about_info_main{
	line-height: 1.2em;
}

#version_span{
	font-size: 20pt;
	line-height: 1.5em;
}

#VIEWLINK_start{

	cursor: pointer;

}

textarea{

	width: 146px;

}

#wait_wrapper{
	text-align: center;
}

#wait_img{
	margin: 50px;
}


input[type="button"], input[type="submit"]{

	cursor: pointer;
	height: 20px;
	margin: 0px;

}

.on_off_switch{

	width: 100px;
	height: 30px !important;
	margin: 10px 0px !important;
	background: tomato;
	border-radius: 10px;
	color: white;
	outline: none;

}

.ultra_big{

	font-size: 55pt;
	text-align: center;
	clear: both;
	padding: 0px;

}

#hello{

	cursor: pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}



.YearInput{

	width: 45px !important;

}

.MonthInput, .DayInput{

	width: 26px !important;

}



.function_icon:hover{

	background-color: tomato;
	color: white;

}

.function_wrap:hover .function_icon{

	background-color: tomato;
	color: white;

}

.function_icon:active{

	background-color: black;

}


.function_icon h3{

	color: white;
	height: 100%;
	padding-right: 15px;
	margin: 0px;
	line-height: 48px;
	float: left;

}


.function_icon{

	color: white;
	cursor: pointer;
	float: left;
	height: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

/*--- SF ---*/

.SF {

	overflow: hidden;
	padding: 20px;
	background-color: lightskyblue;
	padding-top: 15px;
	display: none;
	color: black;
	border-radius: 10px;

}

.SF_search_entry{

	background: bisque;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:0px;
	margin-right: 20px;
	float: left;
	width: 200px;
}

.SF a{

	color: black;

}

.SF a:hover div{

	background-color: rgb(255, 139, 199);

}

td{

	white-space: nowrap;

}

#functions{

	position: fixed;
	bottom: 0px;
	background: cornflowerblue;
	left: 0px;
	right: 0px;

}


#main_menu_icon{

	width: 36px;
	height: 36px;
	padding: 7px;
	float: right;
	cursor: pointer;

}

#main_menu_div{

	background: cornflowerblue;
	position: fixed;
	top: 50px;
	right: 0px;
	min-width: 300px;
	max-width: 450px;

}

.main_menu_entry{

	color: white;
	cursor: pointer;
	height: 50px;

}

.main_menu_entry:hover{

	background: tomato;

}

.main_menu_entry:active{

	background: black;

}

.main_menu_entry_img{
	/*width: 30px;*/
	height: 30px;
	padding: 10px;
	margin-right: 10px;
}

.main_menu_entry_span{
	font-size: 16pt;
	position: relative;
	top: -16px;
	padding-right: 20px;
}

input, textarea, select{

	border: none;

}


input[type="text"], select{

	width: 150px;
	border: none;
	height: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0px;

}


#close_clrd_icon, #close_alrd_icon, .close_select_frame_icon {

	float: right;
	width: 25px;
	cursor: pointer;
	position: relative;
	top: -40px;

}


input[type="checkbox"], input[type="radio"]{

	margin: 3px 3px 3px 4px;
	width: 16px;
	height: 16px;

}


.webapp_header {
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 90px;
	position: fixed;
	overflow: hidden;
	
}

.module_headline{
	
	float: left;
	margin: 0px;
	padding-top:14px;
	color: black;
	font-size: 16pt;
	font-weight: bold;
	
}

#VIEW_start {

	text-align: center;

}

.header_icon_active{

	background-color: #bbffcc;

}

.icon_div{
	
	height: 50px;
	float:left;
	font-size: 8pt;
	text-align: center;
	padding: 0px 12px;
	min-width: 70px;
	cursor: pointer;
	color: #4D87C7;
}

.module_icon{
	
	width: 25px;
	height: 25px;
	padding-top: 7px;
}

.download_icon{
	
	width: 25px;
	height: 25px;
	float: right;
	cursor: pointer;
}

.function_img{

	width: 25px;
	height: 25px;
	padding: 10px;
	float: left;

}

.header {
	top: 0px;
	height: 50px;
	left: 0px;
	right: 0px;
	
	background-color: aquamarine;
	
	overflow: hidden;
	position: fixed;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.content {
	
	padding: 30px;
	overflow: auto;
	min-width: 1000px;
	
	/*At first, set every content view invisible. When everything is loaded, let the app make one content view visible beautifully. */
	display: none;
	
	
}

#content_wrapper{

	position: fixed;
	top: 50px;
	bottom: 44px;
	left: 0px;
	right: 0px;
	overflow: auto;
	z-index: -2;

}

.header_logo{
	
	height: 35px;
	padding: 8px;
	float: right;

}


.header_icon{
	
	height: 60px;
	padding: 10px;
	border-radius: 15px;
	
}

.header_icons{
	display: inline;
	padding: 20px;
}


textarea{
	resize: none;
}


body {
	overflow: hidden;
    background:#CCEEFF;
    margin: 30px;
	font-size: small !important;
}

.language_iso_input{

width: 30px !important;

}


#get_started_line{

	margin: 0px;

}


#VIEW_start h2{

	font-size: 16.5pt;

}


/*--- Output ---*/

.output_div{

background-color: lightskyblue;
border-radius: 15px;
padding: 20px;
margin-bottom: 30px;
width: 935px;

}

.output_div h1{

padding: 0px;
margin: 0px;
padding-bottom: 25px;

}

.xml_textarea{

width: 930px;

}

.generator_div{

overflow: hidden;
display: inline;
width: 200px;
float: left;
margin-right: 20px;

}


/*--- Settings ---*/

#VIEW_settings p, #environment_settings p{

margin: 0px;

}

/*--- About ---*/


#license_info{

font-size: smaller;

}


#logos a img{
	height: 80px;
}

.supporters{
	text-align: center;
	margin-top: 30px;
}

.supporters a img{
	height: 90px;
	margin: 0px 10px;
}

.wizard_arrow{

float: left;
width: 32px;
height: 38px;

}

.wizard_icon{

height: 22px;
width: 11px;
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;

}

.function_sub_div h3{

	color: white;

}


.pager{
	position: fixed;
	background-color: bisque;
	left: 0px;
	right: 0px;
	bottom: 44px;
	height: 20px;
	padding: 10px 20px;
	font-size: 14pt;
	z-index: -1;
}

.page_link{

	padding: 0px 10px;
	cursor: pointer;

}

.page_link_active{

	background-color: black;
	color: white;

}


#pager_info_span{
	float: right;
}


.busy_div{

	margin-top: 100px;

}




#crps_div:hover #crps_filetype_select{

	display: block;
	position: absolute;
	bottom: 44px; 
	background: cornflowerblue;
	color: black;
	padding: 15px;
	cursor: default;
}

.function_sub_div h3{

	padding-bottom: 10px;
	color: white;
	height: auto !important;
	float: none !important;
	line-height: 1em !important;
	margin: 0px;

}


.function_sub_div{

	display: none;
	bottom: 44px;
	position: absolute;
	background: cornflowerblue;
	color: black;
	padding: 15px;
	cursor: default;

}

.function_wrap:hover  .function_sub_div{

	display: block;

}


/* EXPANDABLE FORM */
.expandable_form{

overflow: hidden;
display: block;
width: 100%;
float: left;
margin-bottom: 20px;
background-color: lightskyblue;
border-radius: 10px;

}


.expandable_form_header{

	padding: 15px;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}


.expandable_form_heading{
	
display: inline;
white-space: nowrap;
	
}


.expandable_form_content{
	
	background-color: #9999FF;
	display: block;
	
}


.expandable_form a{
	
	color: #1111EE;
	
}

.expandable_form a:hover{
	
color: #FFFFFF;
	
}


.expandable_form_display_link{
	
height: 25px;
width: 25px;
margin: 0px;
margin-right: 5px;
padding: 0px;

float: right;
}


.expandable_form_delete_link{
	
height: 25px;
width: 25px;
margin: 0px;
margin-right: 5px;
padding: 0px;

float: right;

}


.clickable_list_small{

	width: 215px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	display: inline;
	float: left;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.clickable_list_entry h2{

	line-height: 0em;
	white-space: nowrap;
	margin: 0.6em 0 0 0;

}


.clickable_list_entry{

	background: rgb(135, 206, 250);
	line-height: 0em;
	cursor: pointer;
	padding: 10px;
	height: 40px;
	width: 180px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}


.clickable_list_entry_highlighted{

	background: rgb(255, 139, 199);

}


.xml_output_area_icon{

	margin-left: 5px;


}


.intl_form{
	float: left;
	display: inline-block;
	overflow: hidden;
	word-break: break-all;
	width: 200px;
}

.save_intl_link{

	font-size: 14pt;

}


.fileDropZone{

	background-color: lightsalmon;
	text-align: center;
	border-radius: 15px;
	height: 156px;
	width:220px;

}


.fileDropZone h2{

	font-size: 200%;
	padding: 30px;
	margin:0px;

}


#internationalization_introduction{
	font-size: 13pt;
	margin-top: 0px;
}


#form_english{
	background-color: aquamarine;
	padding-left: 10px;
	margin-right: 10px;
}



.edit_img{
	width: 18px;
	height: 15px;
	margin-left: 3px;
	cursor: pointer;
}