.webapp_header {
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 90px;
	position: fixed;
	overflow: hidden;
	
}

.module_headline{
	
	float: left;
	margin: 0px;
	padding-top:14px;
	color: black;
	font-size: 16pt;
	font-weight: bold;
	
}

#VIEW_start {

	text-align: center;

}

.header_icon_active{

background-color: #bbffcc;

}

.icon_div{
	
	height: 50px;
	float:left;
	font-size: 8pt;
	text-align: center;
	padding: 0px 12px;
	width: 70px;
	cursor: pointer;
	
	color: #4D87C7;
	
	
}

.module_icon{
	
	width: 25px;
	height: 25px;
	
	padding-top: 7px;
}

.download_icon{
	
	width: 25px;
	height: 25px;
	
	float: right;
	cursor: pointer;
}

.function_img{

	width: 25px;
	height: 25px;
	
	padding: 10px;
	float: left;


}

.module_header {
	top: 0px;
	height: 50px;
	left: 0px;
	right: 0px;
	
	background-color: aquamarine;
	
	overflow: hidden;
	position: fixed;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.content {
	
	padding: 30px;
	overflow: auto;
	min-width: 1000px;
	
}

#content_wrapper{

	position: fixed;
	top: 50px;
	bottom: 44px;
	left: 0px;
	right: 0px;
	overflow: auto;

}

.header_logo{
	
	height: 35px;
	padding: 8px;
	float: right;

}


.header_icon{
	
	height: 60px;
	padding: 10px;
	border-radius: 15px;
	
}

.header_icons{
	display: inline;
	padding: 20px;
	
}




textarea{
	
	resize: none;
}



/* force vertical scrollbar */
body {
	overflow-y: scroll;
    background:#CCEEFF;
    margin: 30px;
}
